@model PlaylistManager.Models.Playlist

<h4>Add a new playlist</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.ImageUrl)
    @Html.TextBoxFor(model => model.ImageUrl)

    <input class="button" type="submit" value="Add new playlist" />
}

<p>@Html.ActionLink("Show all playlists", "Index")</p>
